<a href="https://colab.research.google.com/github/arelies-proximo/Python-Advanced/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('pokemon.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [10]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [11]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [12]:
df[df.isna()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#COLUMNS
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [14]:
#single column
print("Type: ", type(df["Name"]), "\n\n")
df["Name"].sample(5)

Type:  <class 'pandas.core.series.Series'>

703    TornadusTherian Forme
458      WormadamPlant Cloak
260                  Miltank
110                Exeggcute
779                Trevenant
Name: Name, dtype: object

In [15]:
#multiple column selection
print("Type on selecting multiple columns: ", type(df[["Name", "HP"]]))

Type on selecting multiple columns:  <class 'pandas.core.frame.DataFrame'>

In [16]:
df[["Name", "HP"]].sample(3)

                    Name  HP
327  SableyeMega Sableye  50
791              Noivern  85
168             Meganium  80

In [17]:
#single column using dot
df.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [18]:
#PRINTITNG SPECIFIC ROWS using iloc

df.iloc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [19]:
#Multiple Rows
df.iloc[1:6:2]
  #1 to 6 in step of 3

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False

In [20]:
#Rows and specific COLUMNS
df.iloc[1, :4]
  #first 4 columns of first row

#               2
Name      Ivysaur
Type 1      Grass
Type 2     Poison
Name: 1, dtype: object

In [21]:
df.iloc[:10:2, :8:2]
  #first 10 rows in step of 2
  #first 8 columns in step of 2

   # Type 1  HP  Defense
0  1  Grass  45       49
2  3  Grass  80       83
4  4   Fire  39       43
6  6   Fire  78       78
8  6   Fire  78       78

In [22]:
#df.iterrows()
#return rows iteratively

for ind, row in df.iterrows():
  print(ind, row["Name"], sep="\n\t", end="\n")
  if ind==20:
    break

0
	Bulbasaur
1
	Ivysaur
2
	Venusaur
3
	VenusaurMega Venusaur
4
	Charmander
5
	Charmeleon
6
	Charizard
7
	CharizardMega Charizard X
8
	CharizardMega Charizard Y
9
	Squirtle
10
	Wartortle
11
	Blastoise
12
	BlastoiseMega Blastoise
13
	Caterpie
14
	Metapod
15
	Butterfree
16
	Weedle
17
	Kakuna
18
	Beedrill
19
	BeedrillMega Beedrill
20
	Pidgey

In [23]:
#STATISTICAL DATA
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [24]:
df.iloc[:, 1:10].describe()

               HP      Attack     Defense     Sp. Atk     Sp. Def       Speed
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000
mean    69.258750   79.001250   73.842500   72.820000   71.902500   68.277500
std     25.534669   32.457366   31.183501   32.722294   27.828916   29.060474
min      1.000000    5.000000    5.000000   10.000000   20.000000    5.000000
25%     50.000000   55.000000   50.000000   49.750000   50.000000   45.000000
50%     65.000000   75.000000   70.000000   65.000000   70.000000   65.000000
75%     80.000000  100.000000   90.000000   95.000000   90.000000   90.000000
max    255.000000  190.000000  230.000000  194.000000  230.000000  180.000000

# SORTING

In [25]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [26]:
df.sort_values(["Name"], ascending=False)
  #the column which need to be descended must be specified

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [27]:
df.sort_values(["HP"])
  #sort values by HP

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

In [28]:
df["Name"].sort_values()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
                ...
632                    Zoroark
631                      Zorua
46                       Zubat
695                   Zweilous
794           Zygarde50% Forme
Name: Name, Length: 800, dtype: object

In [29]:
df.sort_values(["HP"])[["Name", "HP"]]
  #sort by hp and select the 2 columns

          Name   HP
316   Shedinja    1
55     Diglett   10
139   Magikarp   20
388    Duskull   20
487   Mime Jr.   20
..         ...  ...
655  Alomomola  165
351    Wailord  170
217  Wobbuffet  190
121    Chansey  250
261    Blissey  255

[800 rows x 2 columns]

In [30]:
df.sort_values(["HP", "Name"])[["Name", "HP"]]
  #First sort with HP, for contradiction use Name
  #check contrasting values above cell (388, 381, 139)

          Name   HP
316   Shedinja    1
55     Diglett   10
388    Duskull   20
381     Feebas   20
139   Magikarp   20
..         ...  ...
655  Alomomola  165
351    Wailord  170
217  Wobbuffet  190
121    Chansey  250
261    Blissey  255

[800 rows x 2 columns]

In [31]:
df.sort_values(["HP", "Name"], ascending=False)[["Name", "HP"]]

          Name   HP
261    Blissey  255
121    Chansey  250
217  Wobbuffet  190
351    Wailord  170
655  Alomomola  165
..         ...  ...
139   Magikarp   20
381     Feebas   20
388    Duskull   20
55     Diglett   10
316   Shedinja    1

[800 rows x 2 columns]

**Interesting sorting**

In [32]:
df.sort_values(["HP", "Name"], ascending=[1,0])[["Name", "HP"]]
  #HP in ascending and Names in Descending

          Name   HP
316   Shedinja    1
55     Diglett   10
230    Shuckle   20
186      Pichu   20
487   Mime Jr.   20
..         ...  ...
655  Alomomola  165
351    Wailord  170
217  Wobbuffet  190
121    Chansey  250
261    Blissey  255

[800 rows x 2 columns]

Adding a Total column, having the sum of all stats (HP, Attack....)


MULTIPLE WAYS TO DO SO..

In [33]:
#df['Total']  = df['HP'] + df['Attack'] + .......

**Drop Columns**


**df = df.drop(columns = ["Total"]**

In [34]:
df["Total"] = df.iloc[:, 4:10].sum(axis=1)
  #axis = 1 for adding horizontally (rows wise)
  #axis = 0 to get sum of columns

df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525

In [35]:
45+	49+	49+	65+	65+	45

318

 **Always check the sum/calculation, error in specifying the index may lead to inconsistent insights**

In [36]:
df["HP"].sum(axis=0)

55407

In [37]:
df[["HP", "Attack"]].sum()
  #default axis=0

HP        55407
Attack    63201
dtype: int64

In [38]:
sm= df[["HP", "Attack"]].sum(axis=1)
sm

0       94
1      122
2      162
3      180
4       91
      ...
795    150
796    210
797    190
798    240
799    190
Length: 800, dtype: int64

In [39]:
type(sm)

pandas.core.series.Series

In [40]:
s = pd.DataFrame(sm)

In [41]:
s

       0
0     94
1    122
2    162
3    180
4     91
..   ...
795  150
796  210
797  190
798  240
799  190

[800 rows x 1 columns]

In [42]:
df[["HP", "Attack"] ].join(s)

     HP  Attack    0
0    45      49   94
1    60      62  122
2    80      82  162
3    80     100  180
4    39      52   91
..   ..     ...  ...
795  50     100  150
796  50     160  210
797  80     110  190
798  80     160  240
799  80     110  190

[800 rows x 3 columns]

In [126]:
pd.concat([df, sm])

,0,#,Attack,Defense,Generation,HP,Legendary,Name,Sp. Atk,Sp. Def,Speed,Total,Type 1,Type 2,Unnamed: 0
700,NaN,639.0,129.0,90.0,5.0,91.0,True,Terrakion,72.0,90.0,108.0,580.0,Rock,Fighting,700.0
701,NaN,640.0,90.0,72.0,5.0,91.0,True,Virizion,90.0,129.0,108.0,580.0,Grass,Fighting,701.0
702,NaN,641.0,115.0,70.0,5.0,79.0,True,TornadusIncarnate Forme,125.0,80.0,111.0,580.0,Flying,NaN,702.0
703,NaN,641.0,100.0,80.0,5.0,79.0,True,TornadusTherian Forme,110.0,90.0,121.0,580.0,Flying,NaN,703.0
704,NaN,642.0,115.0,70.0,5.0,79.0,True,ThundurusIncarnate Forme,125.0,80.0,111.0,580.0,Electric,Flying,704.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,210.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,240.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

## **REARRANGING COLUMNS**

In [44]:
df.sample(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
267,248,Tyranitar,Rock,Dark,100,134,110,95,100,61,2,False,600
151,140,Kabuto,Rock,Water,30,80,90,55,45,55,1,False,355
210,195,Quagsire,Water,Ground,95,85,85,65,65,35,2,False,430

*Need to bring Total column to 5th position (index=4)*

In [45]:
list(df.columns)

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [46]:
list(df.columns.values)

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [47]:
cols = list(df.columns.values)

In [48]:
df = df[cols[0:4] + cols[-1] + cols[4:-1]]

TypeError: ignored

In [49]:
#col[-1] returns a string not list

In [50]:
df = df[cols[0:4] + [cols[-1]] + cols[4:-1]]

In [51]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

**DANGEROUS TO DO SO, Need to take care of proper indexing**



---



---

# SAVING OF TO FILE (csv, xlsx, txt)

In [52]:
df.to_csv("Modified.csv")

In [53]:
df.to_excel("Modified_excel.xlsx")

In [54]:
df.to_csv("Modifed Text without index.txt", index=False)
#Does not Save the Index Column

# FILTERING DATA

**Using loc**

For Returning Rows

In [55]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [56]:
df.loc[df["Name"] == "Venusaur"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [57]:
df.loc[df.Speed==80]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
152,141,Kabutops,Rock,Water,495,60,115,105,65,70,80,1,False
161,149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
203,188,Skiploom,Grass,Flying,340,55,45,50,45,65,80,2,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
298,275,Shiftry,Grass,Dark,480,90,100,60,90,60,80,3,False
305,282,Gardevoir,Psychic,Fairy,518,68,65,65,125,115,80,3,False
335,308,Medicham,Fighting,Psychic,410,60,60,75,60,75,80,3,False
357,326,Grumpig,Psychic,NaN,470,80,45,65,90,110,80,3,False
365,334,Altaria,Dragon,Flying,490,75,70,90,70,105,80,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False
396,362,Glalie,Ice,NaN,480,80,80,80,80,80,80,3,False
442,397,Staravia,Normal,Flying,340,55,75,50,40,40,80,4,False
473,426,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False
519,468,Togekiss,Fairy,Flying,545,85,50,95,120,115,80,4,False
524,473,Mamoswine,Ice,Ground,530,110,130,80,70,60,80,4,False
526,475,Gallade,Psychic,Fighting,518,68,125,65,65,115,80,4,False
538,481,Mesprit,Psychic,NaN,580,80,105,105,105,105,80,4,True
547,489,Phione,Water,NaN,480,80,80,80,80,80,80,4,False
567,508,Stoutland,Normal,NaN,500,85,110,90,45,90,80,5,False
670,609,Chandelure,Ghost,Fire,520,60,55,90,145,90,80,5,False
689,628,Braviary,Normal,Flying,510,100,123,75,57,75,80,5,False
691,630,Mandibuzz,Dark,Flying,510,110,65,105,55,95,80,5,False
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True

In [58]:
df.loc[df["Type 1"]=="Ice"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
133,124,Jynx,Ice,Psychic,455,65,50,35,115,95,95,1,False
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
238,220,Swinub,Ice,Ground,250,50,50,40,30,30,50,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
243,225,Delibird,Ice,Flying,330,45,55,45,65,45,75,2,False
257,238,Smoochum,Ice,Psychic,305,45,30,15,85,65,65,2,False
395,361,Snorunt,Ice,NaN,300,50,50,50,50,50,50,3,False
396,362,Glalie,Ice,NaN,480,80,80,80,80,80,80,3,False
397,362,GlalieMega Glalie,Ice,NaN,580,80,120,80,120,80,100,3,False
398,363,Spheal,Ice,Water,290,70,40,50,55,50,25,3,False
399,364,Sealeo,Ice,Water,410,90,60,70,75,70,45,3,False
400,365,Walrein,Ice,Water,530,110,80,90,95,90,65,3,False
415,378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
522,471,Glaceon,Ice,NaN,525,65,60,110,130,95,65,4,False
524,473,Mamoswine,Ice,Ground,530,110,130,80,70,60,80,4,False
530,478,Froslass,Ice,Ghost,480,70,80,70,80,70,110,4,False
643,582,Vanillite,Ice,NaN,305,36,50,50,65,60,44,5,False
644,583,Vanillish,Ice,NaN,395,51,65,65,80,75,59,5,False
645,584,Vanilluxe,Ice,NaN,535,71,95,85,110,95,79,5,False
674,613,Cubchoo,Ice,NaN,305,55,70,40,60,40,40,5,False
675,614,Beartic,Ice,NaN,485,95,110,80,70,80,50,5,False
676,615,Cryogonal,Ice,NaN,485,70,50,30,95,135,105,5,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False

In [59]:
df.loc[(df["Type 1"]=="Grass") and (df['Type 2']=='Poison')]

ValueError: ignored

In [60]:
df.loc[(df["Type 1"]=="Grass") & (df['Type 2']=='Poison')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [61]:
df.loc[(df["Type 1"]=="Grass") | (df['Type 2']=='Poison')]
  #and = &, or = | in pandas

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [62]:
ndf = df.loc[((df["Type 1"]=="Ghost") | (df['Type 2']=='Dragon')) & (df.HP > 70)].sort_values(["HP"], ascending=False)

In [63]:
ndf

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
473,426,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False
545,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
540,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
696,635,Hydreigon,Dark,Dragon,600,92,105,90,125,90,98,5,False
472,425,Drifloon,Ghost,Flying,348,90,50,34,60,44,70,4,False
541,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
779,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
767,697,Tyrantrum,Rock,Dragon,521,82,121,119,69,59,71,6,False
361,330,Flygon,Ground,Dragon,520,80,100,80,80,80,100,3,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
249,230,Kingdra,Water,Dragon,540,75,95,95,95,95,85,2,False
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False

*The index in the above df are scattered, Not in ascending order*

In [64]:
ndf.reset_index()

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
1,473,426,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False
2,545,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
3,540,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
4,696,635,Hydreigon,Dark,Dragon,600,92,105,90,125,90,98,5,False
5,472,425,Drifloon,Ghost,Flying,348,90,50,34,60,44,70,4,False
6,541,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True
7,196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
8,787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
9,779,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False
10,791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
11,767,697,Tyrantrum,Rock,Dragon,521,82,121,119,69,59,71,6,False
12,361,330,Flygon,Ground,Dragon,520,80,100,80,80,80,100,3,False
13,7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
14,786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
15,249,230,Kingdra,Water,Dragon,540,75,95,95,95,95,85,2,False
16,695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False

*The old index is saved as a new column, to avoid that, usage of  *

drop=True

In [65]:
ndf.reset_index(drop=True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
1,426,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False
2,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
3,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
4,635,Hydreigon,Dark,Dragon,600,92,105,90,125,90,98,5,False
5,425,Drifloon,Ghost,Flying,348,90,50,34,60,44,70,4,False
6,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True
7,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
8,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
9,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False
10,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
11,697,Tyrantrum,Rock,Dragon,521,82,121,119,69,59,71,6,False
12,330,Flygon,Ground,Dragon,520,80,100,80,80,80,100,3,False
13,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
14,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
15,230,Kingdra,Water,Dragon,540,75,95,95,95,95,85,2,False
16,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False

*The old index column is eliminated*

In [66]:
#the original data is still the same, 
#ndf = ndf.reset_ must be done to save the changes to original dataframe
#ndf = ndf.reset_index(drop=True)   OR
ndf.reset_index(drop=True, inplace=True)

In [67]:
ndf

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
1,426,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False
2,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
3,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
4,635,Hydreigon,Dark,Dragon,600,92,105,90,125,90,98,5,False
5,425,Drifloon,Ghost,Flying,348,90,50,34,60,44,70,4,False
6,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True
7,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
8,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
9,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False
10,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
11,697,Tyrantrum,Rock,Dragon,521,82,121,119,69,59,71,6,False
12,330,Flygon,Ground,Dragon,520,80,100,80,80,80,100,3,False
13,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
14,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
15,230,Kingdra,Water,Dragon,540,75,95,95,95,95,85,2,False
16,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False

# REGEX FILTERING

In [68]:
df.loc[ df.Name.str.contains("Mega")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,618,68,85,65,165,135,100,3,False
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False
329,303,MawileMega Mawile,Steel,Fairy,480,50,105,125,55,95,50,3,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,510,60,100,85,80,85,100,3,False
339,310,ManectricMega Manectric,Electric,NaN,575,70,75,80,135,80,135,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
397,362,GlalieMega Glalie,Ice,NaN,580,80,120,80,120,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,580,65,136,94,54,96,135,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,545,103,60,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [74]:
#Rows which do not contain mega
df.loc[ (~df.Name.str.contains("Mega")) & (df.HP > 150)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
155,143,Snorlax,Normal,NaN,540,160,110,65,65,110,30,1,False
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False

In [75]:
import re

In [79]:
df.loc[ df["Type 1"].str.contains("Grass|Fire")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [80]:
df.loc[ df["Type 1"].str.contains('Grass|Fire', regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [83]:
#Name which starts with pi
df.loc[ df.Name.str.contains("pi[a-z]*")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
181,167,Spinarak,Bug,Poison,250,40,60,40,40,40,30,2,False
189,175,Togepi,Fairy,NaN,245,35,20,65,40,65,20,2,False
202,187,Hoppip,Grass,Flying,250,35,35,40,35,55,50,2,False
266,247,Pupitar,Rock,Ground,410,70,84,70,65,70,51,2,False
345,316,Gulpin,Poison,NaN,302,70,43,53,43,53,40,3,False
357,326,Grumpig,Psychic,NaN,470,80,45,65,90,110,80,3,False
358,327,Spinda,Normal,NaN,360,60,60,60,60,60,60,3,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
390,357,Tropius,Grass,Flying,460,99,68,83,72,87,51,3,False
463,416,Vespiquen,Bug,Flying,474,70,80,102,80,102,40,4,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
490,442,Spiritomb,Ghost,Dark,485,50,92,108,92,108,35,4,False
501,451,Skorupi,Poison,Bug,330,40,50,90,30,55,65,4,False
502,452,Drapion,Poison,Dark,500,70,90,110,60,75,95,4,False
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
596,536,Palpitoad,Water,Ground,384,75,65,55,65,55,69,5,False
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False

In [84]:
df.loc[ df.Name.str.contains("^pi[a-z]*")]

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [86]:
df.loc[ df.Name.str.contains("^pi[a-z]*", regex=True) ]

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [87]:
df.loc[ df.Name.str.contains("^pi[a-z]*", flags=re.I, regex=True) ]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

**flags=re.I**


For ignoring Case in regex

# CHANGING VALUES IN DF wrt CONDITIONS

In [90]:
df.loc[ df["Type 1"]=='Fire',   'Type 1'] = 'Flamer'
  #if type 1 = Fire then change Type 1 values to 'Flamer'

In [89]:
df.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Flamer,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Flamer,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Flamer,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Flamer,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

In [91]:
df.loc[ df["Type 1"]=='Flamer',   'Type 1'] = 'Fire'
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [92]:
df.loc[ df["Type 1"]=='Fire',   'Legendary'] = True
  #which are not Fire will be auto named as False

df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,True
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,True
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,True
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,True
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

**The above query changes the legendary column, IT IS RECOMMENDED TO SAVE CHECKPOINT FILES **

In [93]:
df = pd.read_csv('Modified.csv')

In [94]:
df['Legendary']

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: bool

In [98]:
df.loc[df.Total > 500,   ['New Column']] = True

In [96]:
df

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,New Column
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
796,796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

**Changing multiple column values on condition**

In [99]:
df.loc[df.Total>500,  ["Generation", 'Legendary']] = [100, 888]

In [100]:
df

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,New Column
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,100,888,True
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,100,888,True
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,100,888,True
796,796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,100,888,True
797,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,100,888,True
798,798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,100,888,True
799,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,100,888,True

In [101]:
df = pd.read_csv('Modified.csv')

# **GROUP BY**

In [102]:
df.groupby(by='Type 1').sum('HP')

,Unnamed: 0,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,25397,23080,26146,3925,4897,4880,3717,4471,4256,222,0
Dark,15729,14302,13818,2071,2740,2177,2314,2155,2361,125,2
Dragon,16699,15180,17617,2666,3588,2764,3099,2843,2657,124,12
Electric,17626,15994,19510,2631,3040,2917,3961,3243,3718,144,4
Fairy,8407,7642,7024,1260,1046,1117,1335,1440,826,70,1
Fighting,10812,9824,11244,1886,2613,1780,1434,1747,1784,91,0
Fire,18769,17025,23820,3635,4408,3524,4627,3755,3871,167,5
Flying,2986,2711,1940,283,315,265,377,290,410,22,2
Ghost,17161,15568,14066,2062,2361,2598,2539,2447,2059,134,2
Grass,26629,24141,29480,4709,5125,4956,5425,4930,4335,235,3
Ground,12554,11401,14000,2361,3064,2715,1807,2008,2045,101,4
Ice,11176,10165,10403,1728,1746,1714,1861,1831,1523,85,2
Normal,34455,31279,39365,7573,7200,5865,5470,6245,7012,299,2
Poison,7792,7050,11176,1883,2091,1927,1692,1803,1780,71,0
Psychic,23946,21706,27129,4026,4073,3858,5609,4918,4645,193,14
Rock,19001,17280,19965,2876,4086,4435,2787,3321,2460,152,4
Steel,13130,11957,13168,1761,2503,3412,1823,2177,1492,104,4
Water,37331,33946,48211,8071,8305,8170,8379,7898,7388,320,4

In [103]:
df.groupby(['Type 2'])

In [105]:
df.groupby(['Type 2']).max()
  #Maximum of each type 2

,Unnamed: 0,#,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,,,,
Bug,501,451,Skorupi,Rock,495,75,125,100,70,80,75,4,False
Dark,798,720,TyranitarMega Tyranitar,Water,700,103,164,150,170,130,122,6,True
Dragon,791,715,Zweilous,Water,680,150,130,120,165,123,145,6,True
Electric,707,644,Zekrom,Water,680,125,150,120,120,100,108,5,True
Fairy,796,719,Wigglytuff,Water,700,140,160,150,165,150,116,6,True
Fighting,720,652,Virizion,Water,780,110,190,129,154,129,135,6,True
Fire,706,643,Volcarona,Psychic,770,100,180,160,150,120,115,5,True
Flying,793,717,Zubat,Water,780,150,180,140,180,154,160,6,True
Ghost,797,720,Shedinja,Water,600,100,150,150,150,150,110,6,True
Grass,787,711,WormadamPlant Cloak,Water,600,100,110,122,105,107,100,6,False
Ground,794,718,Zygarde50% Forme,Water,700,111,170,230,145,110,102,6,True
Ice,769,699,Weavile,Water,700,130,170,180,170,107,125,6,True
Normal,765,695,Pyroar,Fire,507,86,68,72,109,94,109,6,False
Poison,652,591,Whirlipede,Water,625,114,150,123,170,120,145,5,False
Psychic,757,687,Starmie,Water,700,105,145,180,160,150,115,6,True
Rock,626,565,Tirtouga,Water,535,115,140,230,83,230,55,5,False
Steel,717,649,WormadamTrash Cloak,Water,625,110,150,168,140,150,112,5,True
Water,799,721,Walrein,Rock,600,110,115,125,130,107,86,6,True

In [106]:
df.groupby(['Type 2']).mean()

,Unnamed: 0,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,,
Bug,420.000000,382.000000,393.333333,53.333333,90.000000,80.000000,46.666667,61.666667,61.666667,3.333333,0.000000
Dark,455.600000,413.850000,484.400000,75.550000,109.800000,72.050000,81.800000,69.850000,75.350000,3.750000,0.050000
Dragon,532.111111,482.555556,526.166667,82.166667,94.444444,87.055556,98.500000,83.444444,80.555556,4.166667,0.222222
Electric,511.333333,465.666667,455.333333,88.166667,72.666667,68.333333,81.166667,73.500000,71.500000,4.000000,0.166667
Fairy,416.173913,379.043478,417.956522,64.304348,61.608696,73.869565,75.000000,81.956522,61.217391,3.565217,0.086957
Fighting,483.346154,438.192308,525.846154,79.461538,112.846154,82.500000,81.269231,82.384615,87.384615,3.923077,0.153846
Fire,529.833333,481.833333,506.250000,71.250000,81.250000,80.166667,110.416667,83.500000,79.666667,4.000000,0.250000
Flying,364.402062,331.103093,452.546392,71.391753,80.288660,68.309278,75.628866,71.206186,85.721649,3.072165,0.134021
Ghost,607.071429,551.714286,430.714286,59.142857,84.142857,82.285714,73.214286,78.071429,53.857143,4.785714,0.071429
Grass,557.040000,505.400000,408.920000,62.640000,74.160000,80.120000,60.160000,74.520000,57.320000,4.480000,0.000000
Ground,337.971429,307.600000,444.342857,77.228571,89.857143,90.314286,65.542857,66.742857,54.657143,2.942857,0.028571
Ice,486.642857,441.285714,525.714286,90.000000,98.000000,85.642857,92.642857,84.785714,74.642857,3.714286,0.214286
Normal,750.000000,681.000000,411.500000,63.500000,52.750000,53.750000,88.000000,64.250000,89.250000,6.000000,0.000000
Poison,187.088235,169.970588,396.500000,58.764706,67.588235,59.558824,74.029412,69.911765,66.647059,1.970588,0.000000
Psychic,369.969697,337.151515,479.060606,72.212121,74.696970,87.030303,88.030303,87.606061,69.484848,2.939394,0.151515
Rock,381.857143,347.785714,434.642857,68.071429,84.000000,126.857143,51.142857,68.571429,36.000000,3.142857,0.000000
Steel,480.909091,435.636364,485.227273,64.636364,92.590909,104.636364,77.727273,86.272727,59.363636,3.818182,0.045455
Water,440.000000,400.000000,418.214286,62.714286,70.142857,85.071429,74.500000,68.642857,57.142857,3.428571,0.071429

In [110]:
df.groupby(['Type 2']).mean()['HP']

Type 2
Bug         53.333333
Dark        75.550000
Dragon      82.166667
Electric    88.166667
Fairy       64.304348
Fighting    79.461538
Fire        71.250000
Flying      71.391753
Ghost       59.142857
Grass       62.640000
Ground      77.228571
Ice         90.000000
Normal      63.500000
Poison      58.764706
Psychic     72.212121
Rock        68.071429
Steel       64.636364
Water       62.714286
Name: HP, dtype: float64

In [111]:
df.groupby(['Type 2']).mean()[['HP', 'Total']]

                 HP       Total
Type 2
Bug       53.333333  393.333333
Dark      75.550000  484.400000
Dragon    82.166667  526.166667
Electric  88.166667  455.333333
Fairy     64.304348  417.956522
Fighting  79.461538  525.846154
Fire      71.250000  506.250000
Flying    71.391753  452.546392
Ghost     59.142857  430.714286
Grass     62.640000  408.920000
Ground    77.228571  444.342857
Ice       90.000000  525.714286
Normal    63.500000  411.500000
Poison    58.764706  396.500000
Psychic   72.212121  479.060606
Rock      68.071429  434.642857
Steel     64.636364  485.227273
Water     62.714286  418.214286

In [112]:
df.groupby(['Type 2']).mean()[['HP', 'Total']].sort_values('Total', ascending=False)

                 HP       Total
Type 2
Dragon    82.166667  526.166667
Fighting  79.461538  525.846154
Ice       90.000000  525.714286
Fire      71.250000  506.250000
Steel     64.636364  485.227273
Dark      75.550000  484.400000
Psychic   72.212121  479.060606
Electric  88.166667  455.333333
Flying    71.391753  452.546392
Ground    77.228571  444.342857
Rock      68.071429  434.642857
Ghost     59.142857  430.714286
Water     62.714286  418.214286
Fairy     64.304348  417.956522
Normal    63.500000  411.500000
Grass     62.640000  408.920000
Poison    58.764706  396.500000
Bug       53.333333  393.333333

In [113]:
df.groupby('Type 1').count()

,Unnamed: 0,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,,
Bug,69,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,112,53,112,112,112,112,112,112,112,112,112

*Some of the column contains, nan values which was not counted.*

In [114]:
df.groupby(['Type 2']).sum()

,Unnamed: 0,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,,
Bug,1260,1146,1180,160,270,240,140,185,185,10,0
Dark,9112,8277,9688,1511,2196,1441,1636,1397,1507,75,1
Dragon,9578,8686,9471,1479,1700,1567,1773,1502,1450,75,4
Electric,3068,2794,2732,529,436,410,487,441,429,24,1
Fairy,9572,8718,9613,1479,1417,1699,1725,1885,1408,82,2
Fighting,12567,11393,13672,2066,2934,2145,2113,2142,2272,102,4
Fire,6358,5782,6075,855,975,962,1325,1002,956,48,3
Flying,35347,32117,43897,6925,7788,6626,7336,6907,8315,298,13
Ghost,8499,7724,6030,828,1178,1152,1025,1093,754,67,1
Grass,13926,12635,10223,1566,1854,2003,1504,1863,1433,112,0
Ground,11829,10766,15552,2703,3145,3161,2294,2336,1913,103,1
Ice,6813,6178,7360,1260,1372,1199,1297,1187,1045,52,3
Normal,3000,2724,1646,254,211,215,352,257,357,24,0
Poison,6361,5779,13481,1998,2298,2025,2517,2377,2266,67,0
Psychic,12209,11126,15809,2383,2465,2872,2905,2891,2293,97,5
Rock,5346,4869,6085,953,1176,1776,716,960,504,44,0
Steel,10580,9584,10675,1422,2037,2302,1710,1898,1306,84,1
Water,6160,5600,5855,878,982,1191,1043,961,800,48,1

In [115]:
sum(df.groupby(['Type 2']))

TypeError: ignored

TO FIND THE CORRECT COUNT, the best way is to a make a count column, intially of value 1 then perform the group by

In [116]:
df['Count'] = 1
df.head(2)

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Count
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1

In [117]:
df.groupby('Type 1').count()["Count"]

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Count, dtype: int64

In [118]:
df.groupby('Type 2').count()["Count"]

Type 2
Bug          3
Dark        20
Dragon      18
Electric     6
Fairy       23
Fighting    26
Fire        12
Flying      97
Ghost       14
Grass       25
Ground      35
Ice         14
Normal       4
Poison      34
Psychic     33
Rock        14
Steel       22
Water       14
Name: Count, dtype: int64

**Grouping by multiple Categories/Columns**

In [120]:
df.groupby(['Type 1', 'Type 2']).count()["Count"]

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64

# **WORKING WITH LARGE DATASET ~20GB**

CANNOT LOAD ALL THE DATA AT ONCE,

NEED TO BE PROCESSED IN SMALLER PART, 100MB at one

In [124]:
for df in pd.read_csv('Modified.csv', chunksize=100):
  print(df.shape, df.size, sep='\t')

(100, 14)	1400
(100, 14)	1400
(100, 14)	1400
(100, 14)	1400
(100, 14)	1400
(100, 14)	1400
(100, 14)	1400
(100, 14)	1400

*Taking 100 rows at a time*


For large datasets, 10000 rows at a time can be taken for analysis